.Post {
    @apply container relative py-8 overflow-hidden text-gray-700 bg-gray-50;
    z-index: 1;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;

    a {
        @apply underline relative text-2xl;
        z-index: 10;

        &:hover {
            @apply text-ogColor;
        }
    }

    .Post--Container {
        @apply px-12 space-y-3;

        p.Post--Info {
            @apply text-2xl relative leading-relaxed bg-gray-50 text-gray-500 text-opacity-80;

            span {
                @apply font-semibold;
            }

            span.subreddit {
                @apply cursor-pointer;

                &:hover {
                    @apply text-ogColor font-bold;
                }
            }
        }

        div.Post--Content--Wrapper {

            .Post--Content {
                section {
                    div.Post--Body {
                        @apply line-clamp-5;
                    }

                    div.Post--Bottom {
                        div.Post--Comments {
                            @apply cursor-pointer;

                            &:hover {
                                @apply text-ogColor;
                            }
                        }
                    }
                }
            }

        }

        div.Post--Content--Loading {
            @apply animate-pulse space-y-2;

            div.Post--Title--Placeholder {
                @apply bg-gray-400 w-full rounded-2xl pb-4;
                height: 2.5rem;
            }

            figure {
                @apply h-60 bg-gray-400 overflow-hidden rounded-2xl;
                width: 20rem;

                div.Post--Image--Placeholder {
                    width: 100%;
                    height: auto;
                }
            }

            section {
                @apply flex flex-col justify-around mb-0 w-full space-y-2;


                div.Post--Body--Placeholder {
                    @extend div.Post--Title--Placeholder;
                    height: 6rem;
                }

                div.Post--Bottom--Placeholder {
                    @extend div.Post--Title--Placeholder;
                    height: 2rem;
                }
            }
        }
    }
}

@media all and (max-width: 805px) {
    .Post {
        .Post--Container {
            @apply px-10;
        }
    }
}

@media all and (max-width: 756px) {
    .Post {
        .Post--Container {
            @apply px-7;
        }
    }
}

@media all and (max-width: 735px) {
    .Post {
        .Post--Container {
            @apply px-1;
        }
    }
}